<div>
  <mat-form-field appearance="fill" style="width: 100%; margin: 20px;">
    <mat-label>Choose a Theme</mat-label>
    <mat-select (selectionChange)="onThemeSelect($event.value)">
      <mat-option *ngFor="let theme of themes" [value]="theme.id">
        {{ theme.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="userList" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>  Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="response">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openResponsesDialog(element.id)">Afficher</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

