<div class="centered-div">
  <div>
    <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" class="form">
      <p class="title">Feed Back Formation</p>
      <p class="message">Aprés avoir terminer la formation veuillez-vous remplissez cette formulaire</p>
      <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <input matInput formControlName="comment">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <mat-select formControlName="note">
          <mat-option *ngFor="let note of ['ONE', 'TWO', 'THREE', 'FOUR','FIVE']" [value]="note">
            {{ note }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Title of Formation</mat-label>
        <input matInput formControlName="title_formation">
      </mat-form-field>
      <br>
      <button class="submit" type="submit">Submit Feedback</button>
    </form>
  </div>
</div>
